[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
[submodule "esptool"]
	path = esptool
	url = https://github.com/espressif/esptool
[submodule "ESP8266_RTOS_SDK"]
	path = ESP8266_RTOS_SDK
	url = https://github.com/espressif/ESP8266_RTOS_SDK.git
[submodule "components/libesphttpd"]
	path = components/libesphttpd
	url = https://github.com/house-mouse/libesphttpd.git
[submodule "components/heatshrink"]
	path = components/heatshrink
	url = https://github.com/atomicobject/heatshrink.git
